@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

/*
http://jsfiddle.net/ghd63x5s/2/
*/




/*

flex wrap elements to mobile isnt turbo cancer

add projects webdev and resume

add info into first block

make linkedin to linka

swap email to school email
*/
body {


    margin-right: 18%;
    margin-left: 18%;
    margin-bottom: 0px;
    margin-top: 3%;
}


.flex-container {
    display : flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;

}


.blueLink{
    color: #4330fc;


}

.blackLink{
    color: #181717;

}

.greenLink{
    color: #2aa779;

}


/* line-height no work gotta doa this rippped off stackoverfolow */
.brmedium {
    content: " ";
display: block;
margin: .5em;
       }



.flex-section {
  color: black;
  flex-wrap: wrap;
  display: flex;



}

.video{
    width: 100%;
    height: 100%;
    object-fit: cover;


}



.division {

    color: white;
    margin-top:5%
}

.one-half {
    width: 45%;
}

.subsection{
    margin-top: 0px;
    margin-bottom: 1%;
}

.section {
    display: flex;
    color: white;
    flex-wrap: wrap;

    align-items: stretch;

}


.even-spacing{

    justify-content: space-between;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: black;
  color: white;

  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;

  /* font weight doesnt work cause im using a google font */
  font-weight: 500;
  line-height: 25px;
}

p {


    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;

    /* font weight doesnt work cause im using a google font */
    font-weight: 500;
    color: #000;
    line-height: 25px;
}
