@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

/*
http://jsfiddle.net/ghd63x5s/2/
*/

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: stretch;
    }

.child1 {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    background: #900;
    min-height: 100px;
    max-width: 800px;
    }

.child2 {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    background: #090;
    min-height: 100px;
    }

.child3 {
    flex-direction: column;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    background: #900;
    min-height: 100px;
    max-width: 800px;
    }

p {text-align: left;
    margin: 10 00 30 30;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-style: normal;
     font-variant: normal;
     font-weight: 50;
     color: #000;
     line-height: 50px;
}
