@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

/*
http://jsfiddle.net/ghd63x5s/2/
*/




/*
flex wrap elements to mobile isnt turbo cancer
add projects webdev and resume
add info into first block
make linkedin to linka
swap email to school email
*/
body {
    margin-right: 18%;
    margin-left: 18%;
    margin-bottom: 0%;
    margin-top: 3%;
}


.bodyInfoPages {
    margin-right: 4%;
    margin-left: 1.5%;
    margin-bottom: 0%;
    margin-top: .5%;
}


.flex-container {
    display : flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}


.blueLink{
    color: #4330fc;
}

.blackLink{
    color: #181717;
}

.greenLink{
    color: #2aa779;
}

.greyLink{
    color: 	#b1b2b3;
    text-decoration: none;
}


/* line-height no work gotta doa this rippped off stackoverfolow */
.brmedium {
    content: " ";
    display: block;
    margin: .5em;
       }



.flex-section {
  color: black;
  flex-wrap: wrap;
  display: flex;
}

.video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.division {
    color: white;
    margin-top:5%
}


.infopageMargin{

    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 0%;
    margin-top: 3%;
}


.one-half {
    width: 45%;
}



.one-third {
    width: 30%;
}

.two-thirds {
    width: 60%;
}


.divBlackBorder{
    border-color: black;
    border-style: solid;

}
.subsection{
   /* border-color: green;*/
    border-style: solid;
    
/*adding display flex fixed the turbo long video*/
    display: flex;


    margin-top: 0px;
    margin-bottom: 1%;
}

.centerItemSVG{
 
    min-height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    /*padding cause aligns top right corner i think*/
    padding-left: 115px;
}



star{
    opacity: 0.1;
    fill: #464646;
    stroke:rgb(0, 0, 0);
    stroke-width:5;
    fill-rule: evenodd;
}

#star:hover {
    opacity: 0.5;
    fill: #464646;
}





.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section {
 
   /* border-color: red;*/
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: white;
    align-items: stretch;

}


.even-spacing{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  /* font weight doesnt work cause im using a google font, import it in the weight you want */
  font-weight: 500;
  line-height: 25px;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    /* font weight doesnt work cause im using a google font */
    font-weight: 500;
    color: #000;
    line-height: 25px;
}



/*need this to do flexwrap on div's supposedly*/
html, body {
  height: 97%;
  display: flex;
  flex-direction: column;
}
